.row{
	width: 1000px;
	height: 10px;
}

.cell{
	background-color: #005924;
	float: left;
	width: 10px;
	height: 10px;
}

.snake{
	background-color: #D2B48C;
}

.apple{
	background-color: #C80815;
}

.info{
	width:1000px;
	font-size: 48;
	color: red;
	text-align: center;
}